/* variables  */
:root {
  --grey-clr: #354f52;
  --green-clr: #84a98c;
  --bckrnd-clr: #cad2c5;
  --card-brdr: #52796f;
}
/* old colors : 
--grey-clr: rgb(75, 75, 75);
--green-clr: rgb(65, 216, 227);
*/

/* styles */
* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
img,
figure,
figcaption {
  margin: 0;
  padding:0;
}

p {
  margin: 0;
  padding: 0;
}

a { 
  text-decoration: none;
}

li {
  list-style: none;
}

/* header styles  */
#logo {
  display: block;
  text-align: center;
  font-size: 3.5rem;
  color: var(--grey-clr);
  background-color:var(--green-clr);
}

nav {
  background-color: var(--grey-clr);
  font-size: 2.4rem;
  text-align: center;
  /* display: flex;  
  justify-content: space-between; 
  align-items: center;  
  flex-wrap: wrap;   */
  padding: 1.4rem 2rem;
  
}

nav a {
  color: var(--green-clr);
  margin: 0 0.5rem;
  border-bottom: 0.3rem solid var(--green-clr);
}

#about, #work, #contact {
  display: inline;
  text-align: center;
  width: 100%;
}

#resume {
  display: block;
  margin: 0 auto;
  width: 10rem;
}


.hero-banner {
  position: relative;
  background-image: url("../images/02-hero-bg.jpg");
  height: 25rem;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.hero-title {
  position: absolute;
    bottom: 0;
    left: 20%;
    right: 20%;
    z-index: 10;
  background-color: var(--green-clr);
  color: var(--grey-clr);
  font-size:  2.2rem;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

.hero-title h2 {
  line-height: 1.1;
  text-align: center;
}

/* main styles  */
.page-wrapper {
  padding: 2rem 2.5rem;
}

/* about - section styles  */
.page-section {
  background-color: var(--bckrnd-clr);
  color: var(--grey-clr);
  margin-bottom: 2rem;
}

.page-section h2 {
  font-size: 2.2rem ;
  font-weight: 700;
  border-bottom: 0.4rem solid var(--grey-clr);
  margin-bottom: 1.5rem;
}

.page-section p {
  text-align:start;
  font-size: 1.6rem;
}

/* work - section styles  */
.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "card1"
    "card2"
    "card3"
    "card4"
    "card5";
  
}

#card1 {
  grid-area: card1;
}
#card2 {
  grid-area: card2;
}
#card3 {
  grid-area: card3;
}
#card4 {
  grid-area: card4;
}
#card5 {
  grid-area: card5;
}

.card {
  position: relative;
  border: 0.5rem solid var(--card-brdr);
  margin-bottom: 2rem;
}

figure {
  margin: 0;
}
.card img {
  width: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
  vertical-align: top;
  
}

.card figcaption {
  background-color: var(--card-brdr);
  color: var(--grey-clr);
  font-size: 2.2rem;
  padding:0;
  margin:0;
  position: absolute;
  bottom: 2rem;
  width:40%;  
  
}

/* contact - section styles  */
.contact li a {
  text-decoration: none;
  color: var(--grey-clr);
  font-size: 1.8rem;
  font-weight: 700;
  border-bottom: 0.3rem solid var(--grey-clr);
  
}

.contact ul {
  text-align: start;
}

/* tablets and bigger screen - styles */
@media screen and (min-width: 768px) {
  .card-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 33.333% ) ;
      column-gap: 2rem;
      grid-template-areas:
        "card1 card1"
        "card2 card3"
        "card4 card5";
  
    }
  
    #card1 {
      grid-area: card1;
    }
  
    #card2 {
      grid-area: card2;
    }
  
    #card3 {
      grid-area: card3;
    }
  
    #card4 {
      grid-area: card4;
    }
  
    #card5 {
      grid-area: card5;
    }

    .card {
      position: relative;
      border: 0.5rem solid var(--card-brdr);
      margin-bottom: 2rem;
    }
/* 
    .card:nth-child(even) {
      margin-right:2rem;
      /* border: 2px solid yellow; */
    } */
    
    .card img {
      width: 100%;
      object-fit: cover;
      padding: 0;
      margin: 0;
      vertical-align: top;

    }

    .card figcaption {
      background-color: var(--card-brdr);
      color: var(--grey-clr);
      font-size: 2.2rem;
      padding: 0;
      margin: 0;
      position: absolute;
      bottom: 2rem;
      width: 40%;

    }
}